* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --background: #36465D;
    --container: #F5F5F5;
    --sidebar-link: #EAEDED;
    --sidebar-link-hover: #363D44;
    --link: #44676E;
    --sidebar-active: #36565d;
    --resume-section: #8BA2B0;
    --sidebar: #30363D;
    --dates: #718C9E;
    --contact-link: #97AAB0;
    --contact-link-hover: #52808f;
    --project-link: #52808f;
}

body {
    background-color: var(--background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 3.75rem;
}

.site-sidebar {
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: 3.75rem;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    padding-bottom: 1.25rem;
}

.socials {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 1rem;
}

.sidebar-menu {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 4px;
    background-color: var(--sidebar);
}

.sidebar-menu a {
    color: var(--sidebar-link);
    text-decoration: none;
    padding: 20px;
}

.sidebar-menu a:hover {
    background-color: var(--sidebar-link-hover);
    color: #FFFFFF;
}

a:nth-child(1):hover {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

a:nth-child(4):hover {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sidebar-menu a:visited {
    text-decoration: none;
}

.sidebar-menu a.selected {
    color: var(--sidebar-active);
    font-weight: 700;
    border-bottom: var(--sidebar-active) solid 5px;
}

.sidebar-menu .web-title {
    margin: 10px 0 10px 0;
}

.container h1 {
    font-size: 2.625rem;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    color: #FFFFFFFF;
}

.site-sidebar h1 {
    font-size: 2.625rem;
    color: #FFFFFFFF;
}

.container h1 {
    font-size: 1.5rem;
    border-bottom: #ebe8e8 3px dotted;
    color: #000000;
}

.container h2 {
    font-size: 1.25rem;
}

.container h3 {
    font-size: 1rem;
    color: var(--resume-section);
}

.container {
    background-color: var(--container);
    width: 800px;
    border-radius: 5px;
    font-size: 1rem;
    margin: 0px 0px 1.25rem 1.875rem;
    padding: 1.875rem;
    border: 2px #d0d0d0 solid;
}

.container div {
    margin-bottom: 1rem;
}

.date {
    color: var(--dates);
}

ul {
    margin: 0;
    padding: 0 0 0 1.25rem;
}

.profile-image img {
    height: 146px;
    border-radius: 10px;
}

p {
    text-align: justify;
    line-height: 16pt;
}

.links {
    display: flex;
    gap: 20px;
}

.entry {
    width: 600px;
    height: fit-content;
    line-height: 1.5;
}

.entry-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.entry-duration {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.container a {
    color: var(--contact-link);
}

.container a:hover {
    color: var(--contact-link-hover);
    text-decoration: underline;
}

.projects {
    line-height: 1.5;
}

.project h3 {
    font-size: 1.25rem;
}

.project a {
    color: var(--project-link);
}

.project-image {
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.project {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.project-description {
    width: 400px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}