* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --background: #e1dfdf;
    --content: #FFFFFF;
    --sidebar-link: #6a8186;
    --sidebar-link-hover: #c1c1c1;
    --link: #44676E;
    --sidebar-active: #36565d;
    --resume-section: #8BA2B0;
}

body {
    background-color: var(--background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;
}

.site-sidebar {
    position: sticky;
    align-self: flex-start;
    top: 60px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-menu {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 4px;
    background-color: #d3d3d3;
}

.sidebar-menu a {
    color: var(--sidebar-link);
    text-decoration: none;
    padding: 20px;
}

.sidebar-menu a:hover {
    background-color: var(--sidebar-link-hover);
    color: #FFFFFF;
}

.sidebar-menu a:visited {
    text-decoration: none;
}

.sidebar-menu a.selected {
    color: var(--sidebar-active);
    font-weight: 700;
    border-bottom: var(--sidebar-active) solid 5px;
}

.sidebar-menu .web-title {
    margin: 10px 0 10px 0;
}

h1 {
    font-size: 2.625rem;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
}

.container h1 {
    font-size: 1.5rem;
    border-bottom: #ebe8e8 3px dotted;
}

.container h2 {
    font-size: 1.25rem;
}

.container h3 {
    font-size: 1rem;
    color: var(--resume-section);
}

.container {
    background-color: var(--content);
    width: 800px;
    border-radius: 5px;
    font-size: 1rem;
    margin: 0px 0px 1.25rem 1.875rem;
    padding: 1.875rem;
    border: 2px #d0d0d0 solid;
}

.container div {
    margin-bottom: 1rem;
}

ul {
    margin: 0;
    padding: 0 0 0 1.25rem;
}

.profile-image img {
    height: 146px;
    border-radius: 10px;
}

p {
    text-align: justify;
    line-height: 16pt;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: var(--link);
}

.entry {
    width: 600px;
    height: fit-content;
}

.entry-subtitle {
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}